<div class="margin">
    <span (click)="updateCommentClick()">{{comment?.date}} {{comment?.user}} - </span>
    <span *ngIf="!isCommentBeingUpdated" (click)="updateCommentClick()">{{comment?.content}}</span> <span *ngIf="!isCommentBeingUpdated" (click)="replyCommentClick()">Reply</span>
    <input *ngIf="isCommentBeingUpdated" type="text" [(ngModel)]="commentText" (blur)="updateComment()" (keyup.enter)="updateComment()" #updateCommentInput>
    <div class="row" *ngFor="let cmnt of comment.children">
        <div class="col-12">
            <comment [comment]="cmnt"></comment>
        </div>
    </div>
    <div class="row margin">
        <input *ngIf="isCommentBeingReplied" type="text" [(ngModel)]="commentText" (blur)="replyComment()" (keyup.enter)="replyComment()" #replyCommentInput>
    </div>
</div>