<div class="comment-main-div">
    <span (click)="commentClick()">{{comment?.date}} {{comment?.user}} - </span>
    <span *ngIf="!isCommentInEdition" (click)="commentClick()">{{comment?.content}}</span>
    <input *ngIf="isCommentInEdition" type="text" [(ngModel)]="commentInEdition" (blur)="updateComment()" (keyup.enter)="updateComment()" #commentInput>
    <div class="row" *ngFor="let cmnt of comment.children">
        <div class="col-12">
            <comment [comment]="cmnt"></comment>
        </div>
    </div>
</div>